<div class="container p-2">
    <div class="row d-flex align-items-end">
        <div class="col-1">
            <img src="../../assets/images/logo_elca.png" alt="logo_elca">
        </div>
        <div class="col-7">
            <h4 class="text-normal">{{ 'header.title' | translate }}</h4>
        </div>
        <div class="col-1 ">
            <h6>
                <a href="#" class="text-normal">EN</a> 
                <span class="text-highlight"> | </span> 
                <a href="#">FR</a>
            </h6>
        </div>
        <div class="col-1 offset-1">
            <h6><a href="#" class="text-highlight">Help</a></h6>
        </div>
        <div class="col-1">
            <h6 class="text-right text-disable"><a>Log out</a></h6>
        </div>
    </div>
</div>
