<div class="mt-4">
  <p>
    <a
      routerLink="projects"
      routerLinkActive="text-black"
      class="text-highlight text-18"
      >{{ "nav.title" | translate }}</a
    >
  </p>
  <p class="text-highlight text-18">
    {{ "nav.new" | translate }}
  </p>
  <p>
    <a
      routerLink="project/new"
      class="text-normal text-14"
      routerLinkActive="text-black"
      >{{ "nav.project" | translate }}</a
    >
  </p>
  <p>
    <a href="#" class="text-14 text-normal">{{ "nav.customer" | translate }}</a>
  </p>
  <p>
    <a href="#" class="text-14 text-normal">{{ "nav.supplier" | translate }}</a>
  </p>
</div>
